.project-item{
    height:210px;
    width:210px;
    position:relative;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    transition: height 0.3s, width 0.3s;
    /* border:1px solid black; */
    border-radius:10px;
    text-align:center;
    overflow:hidden;
    cursor:pointer;
}

.project-item:nth-child(odd) {
    z-index:1;
}

.project-thumbnail{ 
    position:absolute;
    height:100%;
    width:100%;
    transition: filter 0.14s;
}

.project-thumbnail:hover{
    filter:blur(3px);
}

.project-name{
    width:100%;
    height:22px;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
    transition-delay: 0.05s;
    background:rgba(49,51,56,0.5);
    z-index:1;
    pointer-events:none;
}
.project-about{
    margin-top:10px;
    display:none;
    opacity:0;
    transition: opacity 5.0s;
    transition-delay: 0.9s;
    z-index:105;
}

.project-links{
    display:flex;
    width:100%;
    justify-content:center;
    position:absolute;
    bottom:0px;
}