/* 
bug: when i add drop shadow, multiple bugs occur in firefox.
  eg: the third project item disappears when I expand one of the others. 
  potential fix: can try put a dedicated seperator div below everything else and put the polygon/drop shadowcss on that
*/
#app {
  background:linear-gradient(
    rgba(49,51,56,1) 79%, 
  rgba(49,51,56,1) 80%, 
    transparent 80.1%, 
    transparent 100%
  );
  /* filter: drop-shadow(0 2px 5px rgba(0,0,0,0.6)); */
  height:100vh; 
  display:flex;
  align-items:center;
  justify-content:center;
  gap:30px;
}

#triangle-container{
  z-index:-1;
  position:absolute;
  bottom:0px;
  height:20vh;
  width:100%;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.6)); 
}

#triangle {
  position:absolute;
  bottom:0px;
  background:rgba(49,51,56,1);
  height:20vh;
  width:100%;
  clip-path: polygon( 0 0, 102vw 0, 0 150% );  
  /* 
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100% );
  clip-path: polygon( 0 0, 102vw 0, 0 100% );  
  clip-path: polygon( 0 0, 102vw 0, 0 150% );  
  can also have it go higher so some of the white sits under one of the projectitems, but requires messing with more css
  */
}

body{
  margin:0
}
