@font-face{
  font-family: 'NunitoSans';
  src: url("assets/NunitoSans-Regular.ttf");
  /* 
  have to change this for run build: from 
    "./src/assets/NunitoSans-Regular.ttf"
  to
    "assets/NunitoSans-Regular.ttf"
  */
}

:root{
  color: rgb(219,222,225);
  font-family: 'NunitoSans';
}

body{
  margin:0;
}

#app {
  display:flex;
  min-height:100vh;
  align-items:center;
  justify-content:center;
}

#main-container{
  display:flex;
  height:'455px';
  gap:30px;
}

#separator{
  position:relative;
  top:-37px;
  height:40px;
  width:100%;
  display:none;
  /* background:cyan; */
}
#triangle-container{
  z-index:-1;
  position:absolute;
  bottom:0px;
  width:100%;
  height:100%;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.6)); 
}

#triangle {
  background:rgba(49,51,56,1);
  width:100%;
  height:100%;
  clip-path: polygon( 0 0, 102vw 0, 102vw 80%, 0 110% )
}

@media only screen and (max-width: 1090px) {
  #app{
    padding-top:4vh;
    padding-bottom:4vh;
  }
  #separator{
    display:block;
  }
  #main-container{
    height:auto;
    flex-direction: column;
    align-items:center;
    gap:0px;
  }
}

@media only screen and (max-width: 640px) {
  #app{
    padding-top:4vh;
    padding-bottom:0vh;
  }
  #main-container{
    transform:scale(0.8);
    transform-origin:top;
  } 
  #separator{
    top:35px;
    height:30px;
    margin:10px;
  }  
}

@media (pointer:none), (pointer:coarse) {
  /* for checking if device is phone */
}
  