@font-face{
  font-family: 'NunitoSans';
  src: url("assets/NunitoSans-Regular.ttf");
  /* 
  have to change this for run build: from 
    "./src/assets/NunitoSans-Regular.ttf"
  to
    "assets/NunitoSans-Regular.ttf"
  */
}
:root{
  color: rgb(219,222,225);
  font-family: 'NunitoSans';
}



#app {
  display:flex;
  align-items:center;
  justify-content:center;
  /* background:linear-gradient(
  rgba(49,51,56,1) 79%, 
  rgba(49,51,56,1) 80.09%, 
    transparent 80.1%, 
    transparent 100%
  ); */
  height:100vh;  
}

#main-container{
  display:flex;
  gap:30px;
}

#triangle-container{
  z-index:-1;
  position:absolute;
  bottom:0px;
  height:100vh;
  width:100%;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.6)); 
}

#triangle {
  position:absolute;
  bottom:0px;
  background:rgba(49,51,56,1);
  height:100vh;
  width:100%;
  clip-path: polygon( 0 0, 102vw 0, 102vw 80%, 0 110% );  
}

body{
  margin:0;
  overflow-x: hidden;
}

@media only screen and (max-width: 1090px) {
  /* should remove vertical scroll bar too */
  #app{
    padding-top:4vh;
    padding-bottom:4vh;
  }

  #main-container{
    flex-direction: column;
    align-items:center;
  }
  #triangle {
    clip-path: polygon( 0 0, 102vw 0, 102vw 48%, 0 55% );  
  }
}

@media only screen and (max-width: 640px) {
  #app{
    padding-top:0vh;
    padding-bottom:0vh;
  }
  #main-container{
    transform:scale(0.8);
    gap:100px;
  }
  #triangle {
    clip-path: polygon( 0 0, 102vw 0, 102vw 54%, 0 59% );  
  }
}

@media only screen and (max-height: 770px) {
  #main-container{
    padding-top:5vh;
  }
}
@media only screen and (max-height: 700px) {
  #app{
    padding-top:12vh;
  }
}  